In [1]:
#importing pandas
import pandas as pd
import numpy as np
import matplotlib as mpl

In [2]:
#importing nfl_csv
nfl_df = pd.read_csv('nfl.csv')

nfl_df

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3472,2019,Xavier Crawford,NaN,Central Michigan,1.8034,84.821773,4.48,95.25,11.0,NaN,NaN,NaN,NaN,26.080939,defense,defensive_back,CB,No
3473,2019,Jordan Brown,NaN,South Dakota St.,1.8288,91.172066,4.51,100.33,13.0,325.12,NaN,NaN,NaN,27.260221,defense,defensive_back,CB,No
3474,2019,Corey Ballentine,NaN,Washburn,1.8034,88.904105,4.47,100.33,15.0,342.90,6.82,4.14,NaN,27.336171,defense,defensive_back,CB,No
3475,2019,Ugo Amadi,NaN,Oregon,1.7526,90.264882,4.51,82.55,18.0,292.10,7.21,4.19,NaN,29.386861,defense,defensive_back,S,No
3476,2019,Nasir Adderley,NaN,Delaware,1.8288,93.440028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.938336,defense,defensive_back,S,No

In [3]:
draft_df = nfl_df['Drafted..tm.rnd.yr.'].str.split('/', expand = True)
draft_df

                       0      1             2      3
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [4]:
#rename drafted_df columns
# needs to be added into main DF
draft_df.columns = ['Team', 'Round', 'Overall_Pick', 'Year']
draft_df

                    Team  Round  Overall_Pick   Year
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [5]:
#set column from nfl_df to variable
Player = nfl_df['Player']

In [6]:
#add player column from nfl_df to drafted_df
draft_df = draft_df.join(Player)
draft_df

                    Team  Round  Overall_Pick   Year                   Player
0     Arizona Cardinals    1st     31st pick    2009    Beanie Wells\WellCh00
1     Arizona Cardinals    6th    204th pick    2009      Will Davis\DaviWi99
2     Arizona Cardinals    5th    167th pick    2009  Herman Johnson\JohnHe23
3     Arizona Cardinals    3rd     95th pick    2009  Rashad Johnson\JohnRa98
4     Arizona Cardinals    2nd     63rd pick    2009      Cody Brown\BrowCo96
...                  ...    ...           ...    ...                      ...
3472                 NaN    NaN           NaN    NaN          Xavier Crawford
3473                 NaN    NaN           NaN    NaN             Jordan Brown
3474                 NaN    NaN           NaN    NaN         Corey Ballentine
3475                 NaN    NaN           NaN    NaN                Ugo Amadi
3476                 NaN    NaN           NaN    NaN           Nasir Adderley

[3477 rows x 5 columns]

In [7]:
#drop team column
draft_df.drop(columns = ['Team'], inplace = True)
draft_df

      Round  Overall_Pick   Year                   Player
0      1st     31st pick    2009    Beanie Wells\WellCh00
1      6th    204th pick    2009      Will Davis\DaviWi99
2      5th    167th pick    2009  Herman Johnson\JohnHe23
3      3rd     95th pick    2009  Rashad Johnson\JohnRa98
4      2nd     63rd pick    2009      Cody Brown\BrowCo96
...     ...           ...    ...                      ...
3472    NaN           NaN    NaN          Xavier Crawford
3473    NaN           NaN    NaN             Jordan Brown
3474    NaN           NaN    NaN         Corey Ballentine
3475    NaN           NaN    NaN                Ugo Amadi
3476    NaN           NaN    NaN           Nasir Adderley

[3477 rows x 4 columns]

In [8]:
#adding columns to draft_df
draft_df['Sprint_40yd'] = nfl_df['Sprint_40yd']
draft_df['Vertical_Jump'] = nfl_df['Vertical_Jump']
draft_df['Bench_Press_Reps'] = nfl_df['Bench_Press_Reps']
draft_df['Broad_Jump'] = nfl_df['Broad_Jump']
draft_df['Agility_3cone'] = nfl_df['Agility_3cone']
draft_df['Shuttle'] = nfl_df['Shuttle']
draft_df['Position_Type'] = nfl_df['Position_Type']
draft_df['Drafted'] = nfl_df['Drafted']

In [9]:
draft_df.head()

,Round,Overall_Pick,Year,Player,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Position_Type,Drafted
0,1st,31st pick,2009,Beanie Wells\WellCh00,4.38,85.09,25.0,325.12,NaN,NaN,backs_receivers,Yes
1,6th,204th pick,2009,Will Davis\DaviWi99,4.84,83.82,27.0,292.10,7.38,4.45,defensive_lineman,Yes
2,5th,167th pick,2009,Herman Johnson\JohnHe23,5.50,NaN,21.0,NaN,NaN,NaN,offensive_lineman,Yes
3,3rd,95th pick,2009,Rashad Johnson\JohnRa98,4.49,93.98,15.0,304.80,7.09,4.23,defensive_back,Yes
4,2nd,63rd pick,2009,Cody Brown\BrowCo96,4.76,92.71,26.0,304.80,7.10,4.40,line_backer,Yes

In [10]:
#reorder columns
combine_df = draft_df.loc[:,['Year', 'Player', 'Position_Type', 'Round', 'Overall_Pick', 'Sprint_40yd', 'Vertical_Jump', 'Bench_Press_Reps', 'Broad_Jump', 'Agility_3cone', 'Shuttle', 'Drafted']]

In [11]:
#stats for drafted players
players_drafted_df = combine_df.loc[draft_df['Drafted'] == 'Yes']
players_drafted_df

,Year,Player,Position_Type,Round,Overall_Pick,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted
0,2009,Beanie Wells\WellCh00,backs_receivers,1st,31st pick,4.38,85.09,25.0,325.12,NaN,NaN,Yes
1,2009,Will Davis\DaviWi99,defensive_lineman,6th,204th pick,4.84,83.82,27.0,292.10,7.38,4.45,Yes
2,2009,Herman Johnson\JohnHe23,offensive_lineman,5th,167th pick,5.50,NaN,21.0,NaN,NaN,NaN,Yes
3,2009,Rashad Johnson\JohnRa98,defensive_back,3rd,95th pick,4.49,93.98,15.0,304.80,7.09,4.23,Yes
4,2009,Cody Brown\BrowCo96,line_backer,2nd,63rd pick,4.76,92.71,26.0,304.80,7.10,4.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
2249,2019,Ross Pierschbacher\PierRo00,offensive_lineman,5th,153rd pick,5.20,57.15,20.0,NaN,7.83,4.70,Yes
2250,2019,Terry McLaurin\McLaTe00,backs_receivers,3rd,76th pick,4.35,95.25,18.0,317.50,7.01,4.15,Yes
2251,2019,Bryce Love\LoveBr00,backs_receivers,4th,112th pick,NaN,NaN,18.0,NaN,NaN,NaN,Yes
2252,2019,Dwayne Haskins\HaskDw00,backs_receivers,1st,15th pick,5.04,72.39,NaN,NaN,NaN,NaN,Yes
2253,2019,Kelvin Harmon\HarmKe00,backs_receivers,6th,206th pick,4.60,82.55,18.0,297.18,7.15,4.32,Yes

In [12]:
#Remove unnecessary columns
del players_drafted_df['Drafted']
del players_drafted_df['Round']
del players_drafted_df['Overall_Pick']
players_drafted_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
0,2009,Beanie Wells\WellCh00,backs_receivers,4.38,85.09,25.0,325.12,NaN,NaN
1,2009,Will Davis\DaviWi99,defensive_lineman,4.84,83.82,27.0,292.10,7.38,4.45
2,2009,Herman Johnson\JohnHe23,offensive_lineman,5.50,NaN,21.0,NaN,NaN,NaN
3,2009,Rashad Johnson\JohnRa98,defensive_back,4.49,93.98,15.0,304.80,7.09,4.23
4,2009,Cody Brown\BrowCo96,line_backer,4.76,92.71,26.0,304.80,7.10,4.40
...,...,...,...,...,...,...,...,...,...
2249,2019,Ross Pierschbacher\PierRo00,offensive_lineman,5.20,57.15,20.0,NaN,7.83,4.70
2250,2019,Terry McLaurin\McLaTe00,backs_receivers,4.35,95.25,18.0,317.50,7.01,4.15
2251,2019,Bryce Love\LoveBr00,backs_receivers,NaN,NaN,18.0,NaN,NaN,NaN
2252,2019,Dwayne Haskins\HaskDw00,backs_receivers,5.04,72.39,NaN,NaN,NaN,NaN
2253,2019,Kelvin Harmon\HarmKe00,backs_receivers,4.60,82.55,18.0,297.18,7.15,4.32

In [13]:
#need to create DF for all positions
players_drafted_df['Position_Type'].value_counts()

backs_receivers       770
defensive_back        445
offensive_lineman     366
defensive_lineman     364
line_backer           273
kicking_specialist     32
other_special           4
Name: Position_Type, dtype: int64

In [14]:
#creating backs and receivers dataframe
backs_receivers_df = players_drafted_df[players_drafted_df['Position_Type'] == 'backs_receivers']
backs_receivers_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
0,2009,Beanie Wells\WellCh00,backs_receivers,4.38,85.09,25.0,325.12,NaN,NaN
13,2009,Davon Drew\DrewDa00,backs_receivers,4.78,74.93,17.0,287.02,7.28,4.56
17,2009,Cedric Peerman\PeerCe00,backs_receivers,4.34,101.60,27.0,297.18,6.99,4.29
19,2009,Shawn Nelson\NelsSh00,backs_receivers,4.52,83.82,19.0,292.10,6.96,4.46
26,2009,Tony Fiammetta\FiamTo00,backs_receivers,4.58,86.36,30.0,284.48,7.31,4.49
...,...,...,...,...,...,...,...,...,...
2248,2019,A.J. Brown\BrowAJ00,backs_receivers,4.49,92.71,19.0,304.80,NaN,NaN
2250,2019,Terry McLaurin\McLaTe00,backs_receivers,4.35,95.25,18.0,317.50,7.01,4.15
2251,2019,Bryce Love\LoveBr00,backs_receivers,NaN,NaN,18.0,NaN,NaN,NaN
2252,2019,Dwayne Haskins\HaskDw00,backs_receivers,5.04,72.39,NaN,NaN,NaN,NaN
2253,2019,Kelvin Harmon\HarmKe00,backs_receivers,4.60,82.55,18.0,297.18,7.15,4.32

In [15]:
#export dataframe to csv file
backs_receivers_df.to_csv('Backs_Receivers stats')

In [16]:
#describing backs_receivers_df
backs_receivers_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,733.000000,653.000000,524.000000,637.000000,512.000000,533.000000
mean,4.588568,87.458851,17.887405,301.458524,7.008730,4.272720
std,0.176530,8.718910,5.317879,17.431871,0.206636,0.151822
min,4.220000,60.960000,3.000000,243.840000,6.500000,3.810000
25%,4.460000,81.280000,14.000000,289.560000,6.877500,4.160000
50%,4.550000,87.630000,18.000000,302.260000,7.000000,4.270000
75%,4.690000,92.710000,21.000000,312.420000,7.132500,4.380000
max,5.370000,114.300000,36.000000,355.600000,7.650000,4.750000

In [17]:
#creating defensive backs df
defensive_back_df = players_drafted_df[players_drafted_df['Position_Type'] == 'defensive_back']
defensive_back_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
3,2009,Rashad Johnson\JohnRa98,defensive_back,4.49,93.98,15.0,304.80,7.09,4.23
9,2009,Chris Owens\OwenCh99,defensive_back,4.44,87.63,14.0,279.40,6.93,4.16
10,2009,William Moore\MoorWi99,defensive_back,4.49,93.98,16.0,312.42,6.81,4.26
15,2009,Lardarius Webb\WebbLa99,defensive_back,4.35,92.71,15.0,307.34,6.77,4.10
21,2009,Jairus Byrd\ByrdJa99,defensive_back,4.68,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2240,2019,Marquise Blair\BlaiMa01,defensive_back,4.48,88.90,NaN,317.50,NaN,NaN
2243,2019,Jamel Dean\DeanJa00,defensive_back,4.30,104.14,16.0,330.20,7.02,4.19
2244,2019,Sean Bunting\BuntSe00,defensive_back,4.42,105.41,14.0,320.04,NaN,NaN
2246,2019,Mike Edwards\EdwaMi01,defensive_back,NaN,NaN,NaN,NaN,NaN,NaN
2247,2019,Amani Hooker\HookAm00,defensive_back,4.48,93.98,14.0,312.42,6.81,4.10

In [18]:
# export to CSV
defensive_back_df.to_csv('Defensive_backs stats')

In [19]:
# describing defensive back stats
defensive_back_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,423.000000,363.000000,363.000000,369.000000,281.000000,288.000000
mean,4.495154,91.303554,15.818182,310.767967,6.913559,4.170556
std,0.086298,7.160851,4.351922,14.941375,0.199532,0.134829
min,4.280000,74.930000,2.000000,274.320000,6.440000,3.820000
25%,4.430000,86.360000,13.000000,299.720000,6.780000,4.070000
50%,4.500000,90.170000,16.000000,309.880000,6.900000,4.170000
75%,4.550000,95.885000,18.000000,320.040000,7.040000,4.270000
max,4.750000,114.300000,29.000000,373.380000,7.550000,4.540000

In [20]:
#creating offensive lineman df
ol_df = players_drafted_df[players_drafted_df['Position_Type'] == 'offensive_lineman']
ol_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2,2009,Herman Johnson\JohnHe23,offensive_lineman,5.50,NaN,21.0,NaN,NaN,NaN
5,2009,Trevor Canfield\CanfTr20,offensive_lineman,5.28,NaN,29.0,NaN,NaN,NaN
7,2009,Garrett Reynolds\ReynGa20,offensive_lineman,5.32,55.88,19.0,238.76,7.87,4.88
12,2009,Michael Oher\OherMi20,offensive_lineman,5.16,77.47,21.0,261.62,7.81,4.60
20,2009,Andy Levitre\LeviAn20,offensive_lineman,5.33,77.47,23.0,261.62,NaN,4.52
...,...,...,...,...,...,...,...,...,...
2209,2019,Yodny Cajuste\CajuYo00,offensive_lineman,NaN,NaN,32.0,NaN,NaN,NaN
2220,2019,Chuma Edoga\EdogCh00,offensive_lineman,5.19,NaN,21.0,NaN,NaN,NaN
2229,2019,Andre Dillard\DillAn00,offensive_lineman,4.96,73.66,24.0,299.72,7.44,4.40
2233,2019,Derwin Gray\GrayDe01,offensive_lineman,5.26,NaN,26.0,228.60,NaN,NaN
2249,2019,Ross Pierschbacher\PierRo00,offensive_lineman,5.20,57.15,20.0,NaN,7.83,4.70

In [21]:
# describe
ol_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,354.000000,296.000000,303.000000,290.000000,278.000000,287.000000
mean,5.225226,71.081385,25.498350,260.919310,7.766367,4.734843
std,0.164854,7.359661,5.253743,16.772714,0.269996,0.182254
min,4.710000,49.530000,9.000000,208.280000,7.060000,4.140000
25%,5.140000,66.040000,22.000000,248.920000,7.580000,4.620000
50%,5.220000,71.120000,25.000000,259.080000,7.770000,4.720000
75%,5.327500,76.200000,29.000000,274.320000,7.940000,4.865000
max,5.850000,90.170000,45.000000,307.340000,8.420000,5.380000

In [22]:
# exporting
ol_df.to_csv('Offensive_Lineman Stats')

In [23]:
#creating defensive lineman df
dl_df = players_drafted_df[players_drafted_df['Position_Type'] == 'defensive_lineman']
dl_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
1,2009,Will Davis\DaviWi99,defensive_lineman,4.84,83.82,27.0,292.10,7.38,4.45
6,2009,Peria Jerry\JerrPe99,defensive_lineman,4.98,NaN,NaN,NaN,NaN,NaN
8,2009,Lawrence Sidbury\SidbLa99,defensive_lineman,4.53,88.90,28.0,304.80,7.46,4.43
11,2009,Vance Walker\WalkVa99,defensive_lineman,5.32,83.82,29.0,NaN,NaN,NaN
16,2009,Paul Kruger\KrugPa99,defensive_lineman,4.79,82.55,24.0,274.32,7.52,4.47
...,...,...,...,...,...,...,...,...,...
2098,2018,Joshua Frazier\FrazJo00,defensive_lineman,NaN,NaN,21.0,NaN,NaN,NaN
2105,2018,Kentavius Street\StreKe00,defensive_lineman,4.87,NaN,28.0,NaN,NaN,NaN
2112,2018,Rasheem Green\GreeRa01,defensive_lineman,4.73,82.55,NaN,299.72,7.24,4.39
2114,2018,Vita Vea\VeaxVi00,defensive_lineman,5.10,NaN,41.0,NaN,NaN,NaN
2123,2018,Tim Settle\SettTi00,defensive_lineman,5.37,59.69,NaN,243.84,7.95,4.83

In [24]:
# describing
dl_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,354.000000,298.000000,287.000000,287.000000,264.000000,266.000000
mean,4.937260,79.528423,26.362369,281.364739,7.460189,4.539135
std,0.204058,9.083720,5.711084,21.396242,0.321417,0.192665
min,4.530000,52.070000,12.000000,223.520000,6.780000,4.000000
25%,4.800000,73.660000,22.000000,266.700000,7.210000,4.400000
50%,4.920000,80.010000,26.000000,281.940000,7.440000,4.530000
75%,5.060000,85.090000,30.000000,297.180000,7.672500,4.677500
max,5.710000,106.680000,49.000000,350.520000,8.290000,5.060000

In [25]:
#exporting
dl_df.to_csv('Defensive_Lineman Stats')

In [26]:
#creating linebacker df
LB_df = players_drafted_df[players_drafted_df['Position_Type'] == 'line_backer']
LB_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
4,2009,Cody Brown\BrowCo96,line_backer,4.76,92.71,26.0,304.80,7.10,4.40
14,2009,Jason Phillips\PhilJa99,line_backer,4.60,86.36,20.0,304.80,NaN,4.32
24,2009,Nic Harris\HarrNi99,line_backer,4.83,80.01,15.0,276.86,7.05,4.37
33,2009,Marcus Freeman,line_backer,4.51,93.98,30.0,287.02,6.98,4.12
43,2009,Rey Maualuga\MauaRe99,line_backer,4.91,NaN,23.0,210.82,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2089,2018,Azeem Victor\VictAz00,line_backer,4.72,82.55,19.0,292.10,7.20,4.40
2106,2018,Fred Warner\WarnFr00,line_backer,4.64,97.79,21.0,302.26,6.90,4.28
2109,2018,Shaquem Griffin\GrifSh01,line_backer,4.38,NaN,20.0,297.18,NaN,NaN
2119,2018,Jack Cichy\CichJa00,line_backer,NaN,NaN,18.0,NaN,NaN,NaN
2126,2018,Shaun dion Hamilton\DionSh00,line_backer,NaN,NaN,20.0,NaN,NaN,NaN

In [27]:
# describe
LB_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,264.000000,226.000000,225.000000,233.000000,177.000000,182.000000
mean,4.680795,87.315310,22.733333,300.134249,7.089492,4.306648
std,0.111197,7.600277,4.483103,16.020864,0.204679,0.137227
min,4.380000,68.580000,11.000000,210.820000,6.640000,3.960000
25%,4.610000,81.280000,20.000000,289.560000,6.950000,4.210000
50%,4.670000,86.360000,23.000000,299.720000,7.080000,4.300000
75%,4.750000,92.710000,25.000000,309.880000,7.220000,4.390000
max,5.050000,107.950000,36.000000,353.060000,7.660000,4.630000

In [28]:
#exporting
LB_df.to_csv('Linebacker Stats')

In [29]:
#creating kicking specialist df
kicker_df = players_drafted_df[players_drafted_df['Position_Type'] == 'kicking_specialist']
kicker_df.head(10)

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
44,2009,Kevin Huber\HubeKe20,kicking_specialist,4.87,NaN,NaN,NaN,NaN,NaN
59,2009,David Buehler\BuehDa44,kicking_specialist,4.57,NaN,25.0,NaN,NaN,NaN
147,2009,Thomas Morstead\MorsTh00,kicking_specialist,4.83,NaN,19.0,NaN,NaN,NaN
341,2010,Zoltan Mesko\MeskZo99,kicking_specialist,4.79,NaN,16.0,NaN,NaN,NaN
356,2010,Matt Dodge\DodgMa99,kicking_specialist,NaN,NaN,NaN,NaN,NaN,NaN
412,2010,Brent Bowden,kicking_specialist,4.80,NaN,NaN,NaN,NaN,NaN
434,2011,Matt Bosher\BoshMa00,kicking_specialist,4.78,NaN,8.0,NaN,NaN,NaN
595,2011,Alex Henery\HeneAl00,kicking_specialist,4.87,NaN,NaN,NaN,NaN,NaN
673,2012,Brad Nortman\NortBr00,kicking_specialist,4.78,NaN,NaN,NaN,NaN,NaN
727,2012,Randy Bullock\BullRa00,kicking_specialist,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#describe
kicker_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,23.000000,5.000000,5.000000,5.000000,1.00,1.00
mean,4.829565,81.280000,18.200000,296.672000,7.28,4.41
std,0.134923,3.592102,6.685806,5.506589,NaN,NaN
min,4.570000,77.470000,8.000000,289.560000,7.28,4.41
25%,4.775000,77.470000,16.000000,294.640000,7.28,4.41
50%,4.820000,82.550000,19.000000,297.180000,7.28,4.41
75%,4.885000,83.820000,23.000000,297.180000,7.28,4.41
max,5.180000,85.090000,25.000000,304.800000,7.28,4.41

In [31]:
#export
kicker_df.to_csv('Kicker Stats')

In [32]:
# creating other specials df
other_specialist_df = players_drafted_df[players_drafted_df['Position_Type'] == 'other_special']
other_specialist_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
145,2009,Jake Ingram\IngrJa20,other_special,4.90,NaN,15.0,NaN,NaN,NaN
1434,2015,Joe Cardona\CardJo00,other_special,4.91,83.82,30.0,NaN,NaN,NaN
1583,2016,Jimmy Landes\LandJi00,other_special,4.95,69.85,NaN,279.4,7.05,4.38
1899,2017,Colin Holba\HolbCo00,other_special,5.19,71.12,NaN,292.1,NaN,NaN

In [33]:
#describe
other_specialist_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,4.000000,3.000000,2.000000,2.000000,1.00,1.00
mean,4.987500,74.930000,22.500000,285.750000,7.05,4.38
std,0.136717,7.725108,10.606602,8.980256,NaN,NaN
min,4.900000,69.850000,15.000000,279.400000,7.05,4.38
25%,4.907500,70.485000,18.750000,282.575000,7.05,4.38
50%,4.930000,71.120000,22.500000,285.750000,7.05,4.38
75%,5.010000,77.470000,26.250000,288.925000,7.05,4.38
max,5.190000,83.820000,30.000000,292.100000,7.05,4.38

In [34]:
#export
other_specialist_df.to_csv('Other_Specialist Stats')

In [35]:
#stats for undrafted players
players_undrafted_df = combine_df.loc[draft_df['Drafted'] == 'No']
players_undrafted_df

,Year,Player,Position_Type,Round,Overall_Pick,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted
2254,NaN,Jahi Word-Daniels\WordJa99,defensive_back,NaN,NaN,4.59,90.17,24.0,309.88,NaN,NaN,No
2255,NaN,John Parker Wilson\WilsJo01,backs_receivers,NaN,NaN,4.75,74.93,NaN,266.70,7.53,4.59,No
2256,NaN,Edwin Williams\WillEd02,offensive_lineman,NaN,NaN,5.40,72.39,22.0,251.46,8.15,4.98,No
2257,NaN,Drew Willy\WillDr00,backs_receivers,NaN,NaN,4.90,77.47,NaN,276.86,7.18,4.45,No
2258,NaN,Derek Walker\WalkDe98,defensive_lineman,NaN,NaN,4.98,95.25,24.0,292.10,7.31,4.41,No
...,...,...,...,...,...,...,...,...,...,...,...,...
3472,NaN,Xavier Crawford,defensive_back,NaN,NaN,4.48,95.25,11.0,NaN,NaN,NaN,No
3473,NaN,Jordan Brown,defensive_back,NaN,NaN,4.51,100.33,13.0,325.12,NaN,NaN,No
3474,NaN,Corey Ballentine,defensive_back,NaN,NaN,4.47,100.33,15.0,342.90,6.82,4.14,No
3475,NaN,Ugo Amadi,defensive_back,NaN,NaN,4.51,82.55,18.0,292.10,7.21,4.19,No
3476,NaN,Nasir Adderley,defensive_back,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No

In [36]:
del players_undrafted_df['Drafted']
del players_undrafted_df['Round']
del players_undrafted_df['Overall_Pick']
players_undrafted_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2254,NaN,Jahi Word-Daniels\WordJa99,defensive_back,4.59,90.17,24.0,309.88,NaN,NaN
2255,NaN,John Parker Wilson\WilsJo01,backs_receivers,4.75,74.93,NaN,266.70,7.53,4.59
2256,NaN,Edwin Williams\WillEd02,offensive_lineman,5.40,72.39,22.0,251.46,8.15,4.98
2257,NaN,Drew Willy\WillDr00,backs_receivers,4.90,77.47,NaN,276.86,7.18,4.45
2258,NaN,Derek Walker\WalkDe98,defensive_lineman,4.98,95.25,24.0,292.10,7.31,4.41
...,...,...,...,...,...,...,...,...,...
3472,NaN,Xavier Crawford,defensive_back,4.48,95.25,11.0,NaN,NaN,NaN
3473,NaN,Jordan Brown,defensive_back,4.51,100.33,13.0,325.12,NaN,NaN
3474,NaN,Corey Ballentine,defensive_back,4.47,100.33,15.0,342.90,6.82,4.14
3475,NaN,Ugo Amadi,defensive_back,4.51,82.55,18.0,292.10,7.21,4.19
3476,NaN,Nasir Adderley,defensive_back,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#creating backs and receivers dataframe - undrafted
undrafted_backs_receivers_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'backs_receivers']
undrafted_backs_receivers_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2255,NaN,John Parker Wilson\WilsJo01,backs_receivers,4.75,74.93,NaN,266.70,7.53,4.59
2257,NaN,Drew Willy\WillDr00,backs_receivers,4.90,77.47,NaN,276.86,7.18,4.45
2260,NaN,Tyrell Sutton\SuttTy00,backs_receivers,4.64,83.82,NaN,289.56,6.94,4.32
2262,NaN,Kory Sperry\SperKo00,backs_receivers,4.69,85.09,20.0,309.88,7.00,4.24
2263,NaN,Kory Sheets\SheeKo00,backs_receivers,4.39,93.98,15.0,307.34,7.18,4.39
...,...,...,...,...,...,...,...,...,...
3459,NaN,Alex Wesley,backs_receivers,4.45,97.79,13.0,317.50,7.40,4.44
3462,NaN,Easton Stick,backs_receivers,4.62,85.09,NaN,299.72,6.65,4.05
3463,NaN,Benny Snell,backs_receivers,4.66,74.93,16.0,302.26,7.07,4.33
3470,NaN,Ashton Dulin,backs_receivers,4.43,96.52,13.0,307.34,7.00,4.22
3471,NaN,Keelan Doss,backs_receivers,NaN,NaN,8.0,NaN,NaN,NaN

In [38]:
undrafted_backs_receivers_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,465.000000,411.000000,340.000000,403.000000,327.000000,338.000000
mean,4.648581,85.253771,16.602941,295.894243,7.071988,4.318077
std,0.163843,8.315222,5.013079,16.331259,0.239014,0.159091
min,4.340000,64.770000,4.000000,248.920000,6.420000,3.900000
25%,4.530000,80.010000,13.000000,284.480000,6.900000,4.200000
50%,4.620000,85.090000,16.000000,297.180000,7.080000,4.320000
75%,4.750000,91.440000,20.000000,304.800000,7.220000,4.440000
max,5.260000,110.490000,35.000000,358.140000,7.930000,4.690000

In [39]:
undrafted_backs_receivers_df.to_csv('Undrafted Backs and Receivers')

In [40]:
#creating defensive backs df - undrafted
undrafted_defensive_back_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'defensive_back']
undrafted_defensive_back_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2254,NaN,Jahi Word-Daniels\WordJa99,defensive_back,4.59,90.17,24.0,309.88,NaN,NaN
2261,NaN,C.J. Spillman\SpilCJ99,defensive_back,4.45,105.41,NaN,309.88,7.05,4.33
2264,NaN,Lydell Sargeant\SargLy99,defensive_back,4.48,88.90,15.0,297.18,7.00,4.21
2267,NaN,Wopamo Osaisai\OsaiWo99,defensive_back,4.44,NaN,14.0,NaN,NaN,NaN
2281,NaN,D.J. Johnson\JohnDo99,defensive_back,4.50,81.28,7.0,294.64,7.00,4.30
...,...,...,...,...,...,...,...,...,...
3472,NaN,Xavier Crawford,defensive_back,4.48,95.25,11.0,NaN,NaN,NaN
3473,NaN,Jordan Brown,defensive_back,4.51,100.33,13.0,325.12,NaN,NaN
3474,NaN,Corey Ballentine,defensive_back,4.47,100.33,15.0,342.90,6.82,4.14
3475,NaN,Ugo Amadi,defensive_back,4.51,82.55,18.0,292.10,7.21,4.19
3476,NaN,Nasir Adderley,defensive_back,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# describing defensive back stats
undrafted_defensive_back_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,199.000000,179.000000,168.000000,176.000000,126.000000,135.000000
mean,4.573266,88.254358,14.714286,304.828864,6.959365,4.214963
std,0.098570,6.750302,4.275180,12.146524,0.198683,0.130840
min,4.290000,71.120000,4.000000,274.320000,6.280000,3.940000
25%,4.510000,83.820000,12.000000,297.180000,6.832500,4.150000
50%,4.580000,87.630000,15.000000,304.800000,6.965000,4.210000
75%,4.640000,92.710000,17.250000,312.420000,7.080000,4.290000
max,4.830000,111.760000,28.000000,342.900000,7.450000,4.620000

In [42]:
undrafted_defensive_back_df.to_csv('Undrafted Defensive Back Stats')

In [43]:
#creating offensive lineman df - undrafted
undrafted_ol_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'offensive_lineman']
undrafted_ol_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2256,NaN,Edwin Williams\WillEd02,offensive_lineman,5.40,72.39,22.0,251.46,8.15,4.98
2259,NaN,Jose Valdez\ValdJo00,offensive_lineman,5.16,74.93,15.0,254.00,7.93,4.93
2273,NaN,Ryan McKee\McKeRy00,offensive_lineman,5.03,NaN,NaN,NaN,NaN,NaN
2291,NaN,Ramon Foster\FostRa21,offensive_lineman,5.57,66.04,20.0,233.68,7.96,4.98
2293,NaN,Ray Feinga\FeinRa20,offensive_lineman,5.32,NaN,30.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3464,NaN,Max Scharping,offensive_lineman,NaN,71.12,27.0,274.32,7.77,4.69
3465,NaN,Trey Pipkins,offensive_lineman,5.12,85.09,16.0,289.56,7.61,4.70
3466,NaN,Joshua Miles,offensive_lineman,5.32,91.44,NaN,276.86,8.07,4.75
3467,NaN,Devon Johnson,offensive_lineman,5.16,69.85,26.0,226.06,8.34,5.28
3468,NaN,Tytus Howard,offensive_lineman,5.05,74.93,21.0,261.62,8.34,4.87

In [44]:
undrafted_ol_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,175.000000,147.000000,153.000000,143.000000,132.000000,138.000000
mean,5.306400,67.655578,24.431373,253.680280,7.934318,4.844203
std,0.189361,8.098695,5.023320,18.589175,0.307005,0.211932
min,4.810000,44.450000,12.000000,198.120000,7.300000,4.270000
25%,5.185000,62.230000,21.000000,240.030000,7.727500,4.700000
50%,5.310000,67.310000,24.000000,256.540000,7.910000,4.830000
75%,5.420000,72.390000,27.000000,266.700000,8.092500,4.977500
max,6.000000,91.440000,36.000000,289.560000,9.040000,5.560000

In [45]:
undrafted_ol_df.to_csv('Undrafted Offensive Lineman stats')

In [46]:
#creating defensive lineman df - undrafted
undrafted_dl_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'defensive_lineman']
undrafted_dl_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2258,NaN,Derek Walker\WalkDe98,defensive_lineman,4.98,95.25,24.0,292.10,7.31,4.41
2266,NaN,Zach Potter\PottZa99,defensive_lineman,4.90,78.74,20.0,269.24,7.75,4.48
2272,NaN,Khalif Mitchell\MitcKh99,defensive_lineman,5.04,76.20,30.0,276.86,7.45,4.71
2276,NaN,Orion Martin\MartOr99,defensive_lineman,4.70,81.28,24.0,274.32,7.90,4.63
2278,NaN,Mitch King\KingMi99,defensive_lineman,4.81,85.09,23.0,276.86,7.60,4.58
...,...,...,...,...,...,...,...,...,...
3355,NaN,Dashawn Hand,defensive_lineman,4.83,80.01,28.0,281.94,7.98,4.62
3358,NaN,John Franklin-Myers,defensive_lineman,4.75,83.82,26.0,287.02,7.36,4.48
3361,NaN,Foley Fatukasi,defensive_lineman,5.29,76.20,33.0,284.48,7.44,4.53
3364,NaN,Matt Dickerson,defensive_lineman,5.06,78.74,26.0,NaN,NaN,NaN
3380,NaN,John Atkins,defensive_lineman,5.38,60.96,NaN,226.06,7.95,4.75

In [47]:
undrafted_dl_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,131.000000,110.000000,109.000000,109.000000,97.000000,100.000000
mean,5.026336,76.107636,24.385321,273.224771,7.540103,4.606000
std,0.195536,8.695132,4.502897,17.442042,0.328086,0.210579
min,4.630000,52.070000,14.000000,226.060000,6.800000,4.180000
25%,4.900000,71.120000,21.000000,264.160000,7.310000,4.455000
50%,4.990000,76.200000,24.000000,274.320000,7.530000,4.620000
75%,5.160000,81.280000,27.000000,284.480000,7.780000,4.750000
max,5.540000,96.520000,36.000000,312.420000,8.260000,5.270000

In [48]:
undrafted_dl_df.to_csv('Undrafted Defensive Lineman Stats')

In [49]:
#creating linebacker df - undrafted
undrafted_LB_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'line_backer']
undrafted_LB_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2265,NaN,Lee Robinson\RobiLe99,line_backer,4.71,82.55,24.0,287.02,7.57,4.67
2274,NaN,Josh Mauga\MaugJo00,line_backer,4.61,NaN,NaN,NaN,NaN,NaN
2284,NaN,Mortty Ivy\IvyxMo99,line_backer,4.78,64.77,18.0,264.16,7.35,4.75
2295,NaN,Dannell Ellerbe\ElleDa99,line_backer,4.63,88.90,NaN,299.72,7.00,4.23
2303,NaN,Jonathan Casillas\CasiJo99,line_backer,4.50,NaN,24.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3278,NaN,Skai Moore\MoorSk00,line_backer,4.73,91.44,NaN,297.18,NaN,NaN
3282,NaN,Mike McCray\McCrMi01,line_backer,4.76,80.01,16.0,302.26,7.09,4.25
3298,NaN,Jason Cabinda\CabiJa00,line_backer,NaN,NaN,19.0,NaN,NaN,NaN
3329,NaN,Jacob Pugh,line_backer,4.65,97.79,NaN,309.88,NaN,NaN
3365,NaN,Nick Deluca,line_backer,4.85,74.93,18.0,284.48,7.09,4.23

In [50]:
undrafted_dl_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,131.000000,110.000000,109.000000,109.000000,97.000000,100.000000
mean,5.026336,76.107636,24.385321,273.224771,7.540103,4.606000
std,0.195536,8.695132,4.502897,17.442042,0.328086,0.210579
min,4.630000,52.070000,14.000000,226.060000,6.800000,4.180000
25%,4.900000,71.120000,21.000000,264.160000,7.310000,4.455000
50%,4.990000,76.200000,24.000000,274.320000,7.530000,4.620000
75%,5.160000,81.280000,27.000000,284.480000,7.780000,4.750000
max,5.540000,96.520000,36.000000,312.420000,8.260000,5.270000

In [51]:
undrafted_dl_df.to_csv('Undrafted Linebacker Stats')

In [52]:
#creating kicking specialist df - undrafted
undrafted_kicker_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'kicking_specialist']
undrafted_kicker_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2275,NaN,Tim Masthay\MastTi99,kicking_specialist,4.80,NaN,8.0,NaN,NaN,NaN
2290,NaN,Graham Gano\GanoGr44,kicking_specialist,NaN,NaN,NaN,NaN,NaN,NaN
2302,NaN,Britton Colquitt\ColqBr00,kicking_specialist,4.89,NaN,NaN,NaN,NaN,NaN
2321,NaN,Sam Swank,kicking_specialist,4.95,NaN,NaN,NaN,NaN,NaN
2323,NaN,Louie Sakoda,kicking_specialist,4.82,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3368,NaN,Trevor Daniel,kicking_specialist,4.98,82.55,23.0,302.26,NaN,NaN
3377,NaN,Drew Brown,kicking_specialist,NaN,NaN,NaN,NaN,NaN,NaN
3379,NaN,Mike Badgley,kicking_specialist,4.94,NaN,NaN,281.94,NaN,NaN
3390,NaN,Cole Tracy\TracCo00,kicking_specialist,NaN,NaN,NaN,NaN,NaN,NaN
3431,NaN,Jack Fox\FoxxJa00,kicking_specialist,4.73,69.85,NaN,289.56,NaN,NaN

In [53]:
undrafted_kicker_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,66.000000,5.000000,7.000000,5.000000,0.0,0.0
mean,4.939394,76.200000,14.285714,286.004000,NaN,NaN
std,0.134449,7.880143,5.089672,10.254808,NaN,NaN
min,4.610000,68.580000,8.000000,276.860000,NaN,NaN
25%,4.850000,69.850000,11.500000,279.400000,NaN,NaN
50%,4.930000,73.660000,13.000000,281.940000,NaN,NaN
75%,5.050000,82.550000,16.500000,289.560000,NaN,NaN
max,5.250000,86.360000,23.000000,302.260000,NaN,NaN

In [54]:
undrafted_kicker_df.to_csv('Undrafted Kicker Stats')

In [55]:
# creating other specials df - undrafted
undrafted_other_specialist_df = players_undrafted_df[players_undrafted_df['Position_Type'] == 'other_special']
undrafted_other_specialist_df

,Year,Player,Position_Type,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
2347,NaN,Sean Griffin,other_special,5.08,NaN,14.0,NaN,NaN,NaN
2413,NaN,Clint Gresham\GresCl00,other_special,5.08,NaN,NaN,NaN,NaN,NaN
2559,NaN,Danny Aiken\AikeDa00,other_special,5.00,NaN,11.0,NaN,NaN,NaN
2636,NaN,Josh Harris\HarrJo02,other_special,4.82,NaN,15.0,NaN,NaN,NaN
2805,NaN,Luke Ingram,other_special,5.05,NaN,24.0,269.24,NaN,NaN
2921,NaN,Marcus Heit,other_special,4.91,73.66,NaN,292.10,NaN,NaN
3191,NaN,Bradley Northnagel\NortBr01,other_special,5.30,64.77,NaN,251.46,NaN,NaN
3374,NaN,Tanner Carew,other_special,5.00,76.20,18.0,281.94,7.26,4.28
3429,NaN,Dan Godsil\GodsDa00,other_special,5.00,87.63,16.0,299.72,7.56,4.55

In [56]:
undrafted_other_specialist_df.describe()

,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle
count,9.000000,4.000000,6.000000,5.000000,2.000000,2.000000
mean,5.026667,75.565000,16.333333,278.892000,7.410000,4.415000
std,0.132004,9.418572,4.412105,19.126048,0.212132,0.190919
min,4.820000,64.770000,11.000000,251.460000,7.260000,4.280000
25%,5.000000,71.437500,14.250000,269.240000,7.335000,4.347500
50%,5.000000,74.930000,15.500000,281.940000,7.410000,4.415000
75%,5.080000,79.057500,17.500000,292.100000,7.485000,4.482500
max,5.300000,87.630000,24.000000,299.720000,7.560000,4.550000

In [57]:
undrafted_other_specialist_df.to_csv('Undrafted Other Specialist Stats')

In [75]:
#Bring back original draft_df for new analysis
draft_df = draft_df[draft_df.Drafted == 'Yes']
draft_df

Empty DataFrame
Columns: [Round, Overall_Pick, Year, Player, Sprint_40yd, Vertical_Jump, Bench_Press_Reps, Broad_Jump, Agility_3cone, Shuttle, Position_Type, Drafted]
Index: []

In [66]:
#WSH_df = team_df[team_df['Team'].str.contains('Washington Redskins')]

AttributeError: 'Series' object has no attribute 'contains'