In [1]:
#import pandas
import pandas as pd
import numpy as np

In [2]:
#import dataset
nfl_df = pd.read_csv('nfl.csv')

In [3]:
#show dataset
nfl_df

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3472,2019,Xavier Crawford,NaN,Central Michigan,1.8034,84.821773,4.48,95.25,11.0,NaN,NaN,NaN,NaN,26.080939,defense,defensive_back,CB,No
3473,2019,Jordan Brown,NaN,South Dakota St.,1.8288,91.172066,4.51,100.33,13.0,325.12,NaN,NaN,NaN,27.260221,defense,defensive_back,CB,No
3474,2019,Corey Ballentine,NaN,Washburn,1.8034,88.904105,4.47,100.33,15.0,342.90,6.82,4.14,NaN,27.336171,defense,defensive_back,CB,No
3475,2019,Ugo Amadi,NaN,Oregon,1.7526,90.264882,4.51,82.55,18.0,292.10,7.21,4.19,NaN,29.386861,defense,defensive_back,S,No
3476,2019,Nasir Adderley,NaN,Delaware,1.8288,93.440028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.938336,defense,defensive_back,S,No

In [28]:
#separate Drafted..tm.rnd.yr. column
draft_df = nfl_df['Drafted..tm.rnd.yr.'].str.split('/', expand = True)
draft_df

                       0      1             2      3
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [13]:
#rename drafted_df columns
# needs to be added into main DF
draft_df.columns = ['Team', 'Round', 'Overall_Pick', 'Year']
draft_df

                    Team  Round  Overall_Pick   Year
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [29]:
#set column from nfl_df to variable
Player = nfl_df['Player']

In [31]:
#add player column from nfl_df to drafted_df
combine_df = draft_df.join(Player)
combine_df

,0,1,2,3,School,Player
0,Arizona Cardinals,1st,31st pick,2009,Ohio St.,Beanie Wells\WellCh00
1,Arizona Cardinals,6th,204th pick,2009,Illinois,Will Davis\DaviWi99
2,Arizona Cardinals,5th,167th pick,2009,LSU,Herman Johnson\JohnHe23
3,Arizona Cardinals,3rd,95th pick,2009,Alabama,Rashad Johnson\JohnRa98
4,Arizona Cardinals,2nd,63rd pick,2009,Connecticut,Cody Brown\BrowCo96
...,...,...,...,...,...,...
3472,NaN,NaN,NaN,NaN,Central Michigan,Xavier Crawford
3473,NaN,NaN,NaN,NaN,South Dakota St.,Jordan Brown
3474,NaN,NaN,NaN,NaN,Washburn,Corey Ballentine
3475,NaN,NaN,NaN,NaN,Oregon,Ugo Amadi
3476,NaN,NaN,NaN,NaN,Delaware,Nasir Adderley

In [25]:
combine_df.loc[:,['Year', 'Player', 'Team', 'Round', 'Overall_Pick']]

       Year                   Player                Team  Round  Overall_Pick
0      2009    Beanie Wells\WellCh00  Arizona Cardinals    1st     31st pick
1      2009      Will Davis\DaviWi99  Arizona Cardinals    6th    204th pick
2      2009  Herman Johnson\JohnHe23  Arizona Cardinals    5th    167th pick
3      2009  Rashad Johnson\JohnRa98  Arizona Cardinals    3rd     95th pick
4      2009      Cody Brown\BrowCo96  Arizona Cardinals    2nd     63rd pick
...     ...                      ...                 ...    ...           ...
3472    NaN          Xavier Crawford                 NaN    NaN           NaN
3473    NaN             Jordan Brown                 NaN    NaN           NaN
3474    NaN         Corey Ballentine                 NaN    NaN           NaN
3475    NaN                Ugo Amadi                 NaN    NaN           NaN
3476    NaN           Nasir Adderley                 NaN    NaN           NaN

[3477 rows x 5 columns]

In [32]:
# add school
combine_df['School'] = nfl_df['School']
combine_df

,0,1,2,3,School,Player
0,Arizona Cardinals,1st,31st pick,2009,Ohio St.,Beanie Wells\WellCh00
1,Arizona Cardinals,6th,204th pick,2009,Illinois,Will Davis\DaviWi99
2,Arizona Cardinals,5th,167th pick,2009,LSU,Herman Johnson\JohnHe23
3,Arizona Cardinals,3rd,95th pick,2009,Alabama,Rashad Johnson\JohnRa98
4,Arizona Cardinals,2nd,63rd pick,2009,Connecticut,Cody Brown\BrowCo96
...,...,...,...,...,...,...
3472,NaN,NaN,NaN,NaN,Central Michigan,Xavier Crawford
3473,NaN,NaN,NaN,NaN,South Dakota St.,Jordan Brown
3474,NaN,NaN,NaN,NaN,Washburn,Corey Ballentine
3475,NaN,NaN,NaN,NaN,Oregon,Ugo Amadi
3476,NaN,NaN,NaN,NaN,Delaware,Nasir Adderley