In [1]:
#importing pandas
import pandas as pd
import numpy as np

In [2]:
#importing nfl_csv
nfl_df = pd.read_csv('nfl.csv')

nfl_df

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3472,2019,Xavier Crawford,NaN,Central Michigan,1.8034,84.821773,4.48,95.25,11.0,NaN,NaN,NaN,NaN,26.080939,defense,defensive_back,CB,No
3473,2019,Jordan Brown,NaN,South Dakota St.,1.8288,91.172066,4.51,100.33,13.0,325.12,NaN,NaN,NaN,27.260221,defense,defensive_back,CB,No
3474,2019,Corey Ballentine,NaN,Washburn,1.8034,88.904105,4.47,100.33,15.0,342.90,6.82,4.14,NaN,27.336171,defense,defensive_back,CB,No
3475,2019,Ugo Amadi,NaN,Oregon,1.7526,90.264882,4.51,82.55,18.0,292.10,7.21,4.19,NaN,29.386861,defense,defensive_back,S,No
3476,2019,Nasir Adderley,NaN,Delaware,1.8288,93.440028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.938336,defense,defensive_back,S,No

In [3]:
draft_df = nfl_df['Drafted..tm.rnd.yr.'].str.split('/', expand = True)
draft_df

                       0      1             2      3
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [4]:
#rename drafted_df columns
# needs to be added into main DF
draft_df.columns = ['Team', 'Round', 'Overall_Pick', 'Year']
draft_df

                    Team  Round  Overall_Pick   Year
0     Arizona Cardinals    1st     31st pick    2009
1     Arizona Cardinals    6th    204th pick    2009
2     Arizona Cardinals    5th    167th pick    2009
3     Arizona Cardinals    3rd     95th pick    2009
4     Arizona Cardinals    2nd     63rd pick    2009
...                  ...    ...           ...    ...
3472                 NaN    NaN           NaN    NaN
3473                 NaN    NaN           NaN    NaN
3474                 NaN    NaN           NaN    NaN
3475                 NaN    NaN           NaN    NaN
3476                 NaN    NaN           NaN    NaN

[3477 rows x 4 columns]

In [5]:
#set column from nfl_df to variable
Player = nfl_df['Player']

In [6]:
#add player column from nfl_df to drafted_df
draft_df = draft_df.join(Player)
draft_df

                    Team  Round  Overall_Pick   Year                   Player
0     Arizona Cardinals    1st     31st pick    2009    Beanie Wells\WellCh00
1     Arizona Cardinals    6th    204th pick    2009      Will Davis\DaviWi99
2     Arizona Cardinals    5th    167th pick    2009  Herman Johnson\JohnHe23
3     Arizona Cardinals    3rd     95th pick    2009  Rashad Johnson\JohnRa98
4     Arizona Cardinals    2nd     63rd pick    2009      Cody Brown\BrowCo96
...                  ...    ...           ...    ...                      ...
3472                 NaN    NaN           NaN    NaN          Xavier Crawford
3473                 NaN    NaN           NaN    NaN             Jordan Brown
3474                 NaN    NaN           NaN    NaN         Corey Ballentine
3475                 NaN    NaN           NaN    NaN                Ugo Amadi
3476                 NaN    NaN           NaN    NaN           Nasir Adderley

[3477 rows x 5 columns]

In [7]:
#drop team column
draft_df.drop(columns = ['Team'], inplace = True)
draft_df

      Round  Overall_Pick   Year                   Player
0      1st     31st pick    2009    Beanie Wells\WellCh00
1      6th    204th pick    2009      Will Davis\DaviWi99
2      5th    167th pick    2009  Herman Johnson\JohnHe23
3      3rd     95th pick    2009  Rashad Johnson\JohnRa98
4      2nd     63rd pick    2009      Cody Brown\BrowCo96
...     ...           ...    ...                      ...
3472    NaN           NaN    NaN          Xavier Crawford
3473    NaN           NaN    NaN             Jordan Brown
3474    NaN           NaN    NaN         Corey Ballentine
3475    NaN           NaN    NaN                Ugo Amadi
3476    NaN           NaN    NaN           Nasir Adderley

[3477 rows x 4 columns]

In [37]:
#adding columns to draft_df
draft_df['Sprint_40yd'] = nfl_df['Sprint_40yd']
draft_df['Vertical_Jump'] = nfl_df['Vertical_Jump']
draft_df['Bench_Press_Reps'] = nfl_df['Bench_Press_Reps']
draft_df['Broad_Jump'] = nfl_df['Broad_Jump']
draft_df['Agility_3cone'] = nfl_df['Agility_3cone']
draft_df['Shuttle'] = nfl_df['Shuttle']
draft_df['Position_Type'] = nfl_df['Position_Type']
draft_df['Drafted'] = nfl_df['Drafted']

In [38]:
draft_df.head()

,Round,Overall_Pick,Year,Player,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Position_Type,Drafted
0,1st,31st pick,2009,Beanie Wells\WellCh00,4.38,85.09,25.0,325.12,NaN,NaN,backs_receivers,Yes
1,6th,204th pick,2009,Will Davis\DaviWi99,4.84,83.82,27.0,292.10,7.38,4.45,defensive_lineman,Yes
2,5th,167th pick,2009,Herman Johnson\JohnHe23,5.50,NaN,21.0,NaN,NaN,NaN,offensive_lineman,Yes
3,3rd,95th pick,2009,Rashad Johnson\JohnRa98,4.49,93.98,15.0,304.80,7.09,4.23,defensive_back,Yes
4,2nd,63rd pick,2009,Cody Brown\BrowCo96,4.76,92.71,26.0,304.80,7.10,4.40,line_backer,Yes

In [44]:
#reorder columns
combine_df = draft_df.loc[:,['Year', 'Player', 'Position_Type', 'Round', 'Overall_Pick', 'Sprint_40yd', 'Vertical_Jump', 'Bench_Press_Reps', 'Broad_Jump', 'Agility_3cone', 'Shuttle', 'Drafted']]

In [45]:
#stats for drafted players
players_drafted_df = combine_df.loc[draft_df['Drafted'] == 'Yes']
players_drafted_df

,Year,Player,Position_Type,Round,Overall_Pick,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted
0,2009,Beanie Wells\WellCh00,backs_receivers,1st,31st pick,4.38,85.09,25.0,325.12,NaN,NaN,Yes
1,2009,Will Davis\DaviWi99,defensive_lineman,6th,204th pick,4.84,83.82,27.0,292.10,7.38,4.45,Yes
2,2009,Herman Johnson\JohnHe23,offensive_lineman,5th,167th pick,5.50,NaN,21.0,NaN,NaN,NaN,Yes
3,2009,Rashad Johnson\JohnRa98,defensive_back,3rd,95th pick,4.49,93.98,15.0,304.80,7.09,4.23,Yes
4,2009,Cody Brown\BrowCo96,line_backer,2nd,63rd pick,4.76,92.71,26.0,304.80,7.10,4.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
2249,2019,Ross Pierschbacher\PierRo00,offensive_lineman,5th,153rd pick,5.20,57.15,20.0,NaN,7.83,4.70,Yes
2250,2019,Terry McLaurin\McLaTe00,backs_receivers,3rd,76th pick,4.35,95.25,18.0,317.50,7.01,4.15,Yes
2251,2019,Bryce Love\LoveBr00,backs_receivers,4th,112th pick,NaN,NaN,18.0,NaN,NaN,NaN,Yes
2252,2019,Dwayne Haskins\HaskDw00,backs_receivers,1st,15th pick,5.04,72.39,NaN,NaN,NaN,NaN,Yes
2253,2019,Kelvin Harmon\HarmKe00,backs_receivers,6th,206th pick,4.60,82.55,18.0,297.18,7.15,4.32,Yes

In [46]:
#stats for undrafted players
players_undrafted_df = combine_df.loc[draft_df['Drafted'] == 'No']
players_undrafted_df

,Year,Player,Position_Type,Round,Overall_Pick,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted
2254,NaN,Jahi Word-Daniels\WordJa99,defensive_back,NaN,NaN,4.59,90.17,24.0,309.88,NaN,NaN,No
2255,NaN,John Parker Wilson\WilsJo01,backs_receivers,NaN,NaN,4.75,74.93,NaN,266.70,7.53,4.59,No
2256,NaN,Edwin Williams\WillEd02,offensive_lineman,NaN,NaN,5.40,72.39,22.0,251.46,8.15,4.98,No
2257,NaN,Drew Willy\WillDr00,backs_receivers,NaN,NaN,4.90,77.47,NaN,276.86,7.18,4.45,No
2258,NaN,Derek Walker\WalkDe98,defensive_lineman,NaN,NaN,4.98,95.25,24.0,292.10,7.31,4.41,No
...,...,...,...,...,...,...,...,...,...,...,...,...
3472,NaN,Xavier Crawford,defensive_back,NaN,NaN,4.48,95.25,11.0,NaN,NaN,NaN,No
3473,NaN,Jordan Brown,defensive_back,NaN,NaN,4.51,100.33,13.0,325.12,NaN,NaN,No
3474,NaN,Corey Ballentine,defensive_back,NaN,NaN,4.47,100.33,15.0,342.90,6.82,4.14,No
3475,NaN,Ugo Amadi,defensive_back,NaN,NaN,4.51,82.55,18.0,292.10,7.21,4.19,No
3476,NaN,Nasir Adderley,defensive_back,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No